$button-dark-background: #444;
$button-dark-hover: #555;
$button-light-foreground: #fff;

$transition-duration: 300ms;

.add {
  display: flex;
  height: 64px;
}

.add__input {
  font-size: 1em;
  margin: 4px;
  padding: 0 8px;
  width: 100%;
}

.add__button {
  background-color: $button-dark-background;
  border: 0;
  border-radius: 4px;
  color: $button-light-foreground;
  font-size: 1em;
  margin: 4px;
  transition: background-color;
  transition-duration: $transition-duration;
  width: 128px;

  &:hover {
    background-color: $button-dark-hover;
    cursor: pointer;
  }
}
