$dark-background: #333;
$light-foreground: #fff;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $dark-background;
  color: $light-foreground;
}

@import 'title';
@import 'add';
@import 'item';
@import 'about';
@import 'header';
